.vivek {
  height: 100%;
  margin: 0;
  background-image: url('../../public/19187761.jpg'); /* Replace with your image URL */
  background-size: cover; /* Ensure the image covers the entire body */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent repeating the image */
  position: relative; /* Make sure the background is properly positioned */
}
