/* ProblemStatement.css */
.problem-container {
  margin: 0px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  
}

h1 {
  color: #333;
  text-align: center;
}

h3 {
  color: #2c3e50;
}

p, pre {
  color: #555;
}

ul {
  padding-left: 20px;
}

.example {
  background-color: #e8f8f5;
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
}

pre {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}
